@model IEnumerable<AllHutsViewModel>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<link rel="stylesheet" href="~/css/Hut/allStyle.css" />

@if (Model.Any())
{
	<div class="row">
		@foreach (var hut in Model)
		{
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<img class="card-img-top" src="@hut.ImageUrl" alt="Hut Image">
					<div class="card-body">
						<h5 class="card-title text-center">@hut.Name</h5>
					</div>
					<div class="card-footer">
						<p class="text-center"><a asp-controller="Hut" asp-action="Details" asp-route-id="@hut.Id" class="btn btn-primary btn-block">Виж повече</a></p>
					</div>
				</div>
			</div>
		}
	</div>
	<hr />
	<a asp-controller="Mountain" asp-action="AddHut" class="btn btn-primary btn-block fw-bold">Добави хижа</a>
}

