@model IEnumerable<AllHutsViewModel>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model != null && Model.Count() > 0)
{
	<div class="row gap-2">
		@foreach (var hut in Model)
		{
			<div class="col-lg-2 col-md-2 col-sm-4 mb-6">
				<div class="card h-100 w-100 text-center">
					<img class="card-img-top w-100 h-100" src="@hut.ImageUrl" alt="Mountain Image">
					<div class="card-body">
						<h4 class="card-title"><strong>@hut.Name</strong></h4>
					</div>
					<a asp-controller="Hut" asp-action="Details" asp-route-id="@hut.Id" class="btn btn-primary btn-group-sm fw-bold">Виж повече</a>
				</div>
			</div>
		}
	</div>
	<hr />
	<a asp-controller="Mountain" asp-action="AddHut" class="btn btn-primary btn-group-sm fw-bold">Добави хижа</a>
}

