@model IEnumerable<AllWaterfallsViewModel>

<link rel="stylesheet" href="~/css/Waterfall/allStyle.css" />

<div class="row">
	@foreach (var waterfall in Model)
	{
		<div class="col-md-4 mb-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-center">@waterfall.Name</h5>
					<div class="card-img-container">
						<img src="@waterfall.ImageUrl" alt="@waterfall.Name" class="card-img-top" />
					</div>
				</div>
				<div class="card-footer">
					<p class="text-center"><a asp-controller="Waterfall" asp-action="Details" asp-route-id="@waterfall.Id" class="btn btn-primary btn-block">Виж повече</a></p>
				</div>
			</div>
		</div>
	}
</div>