@model IEnumerable<TourAgencyGetViewModel>

@{
	ViewBag.Title = "Туристически агенции";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Any() && Model != null)
{
	<ul class="list-group">
		@foreach (var agency in Model)
		{
			<li class="list-group-item d-flex justify-content-between align-items-center">
				<span>@agency.Name</span>
				<a asp-controller="TourAgency" asp-action="Details" asp-route-id="@agency.Id" class="btn btn-primary">Детайли</a>
			</li>
		}
	</ul>
}

<style>
    .list-group-item {
        margin-bottom: 10px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>