@model IEnumerable<TourAgencyGetViewModel>

@{
	ViewBag.Title = "Туристически агенции";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<link rel="stylesheet" href="~/css/TourAgency/allStyle.css" />

@if (Model.Any())
{
	<div class="row">
		@foreach (var agency in Model)
		{
			<div class="col-md-4 mb-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">@agency.Name</h5>
						<p class="card-text"><a href="@Url.Action("Details", "TourAgency", new { id = agency.Id })" class="btn btn-primary">Детайли</a></p>
					</div>
				</div>
			</div>
		}
	</div>
}