@model IEnumerable<MountainGuideAllViewModel>

@{
	ViewBag.Title = "Планински водачи в агенцията";
}

<h2 class="text-center">@ViewBag.Title</h2>

<hr />

@await Html.PartialAsync("_AllMountainGuidesPartial")

