@model IEnumerable<AllLakesViewModel>

@{
	ViewBag.Title = "Езера";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

@await Html.PartialAsync("_AllLakesPartial", Model)

@await Html.PartialAsync("_PaginationPartial")
