@model IEnumerable<GetAllRoutesViewModel>

@{
	ViewBag.Title = "Маршрути до езерото";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Any())
{
	@await Html.PartialAsync("_AllRoutesPartial")
}
else
{
	<h3 class="text-center text-warning">Няма добавени маршрути до езерото.</h3>
	@if (User.IsAdmin() || User.IsTourAgency() || User.IsMountaineer())
	{
		<p class="text-center">Добави маршрут до това езеро, ако знаеш.</p>
		<a asp-controller="Route" asp-action="Add" class="btn btn-primary btn-group-sm fw-bold">Добави</a>
	}
}
