.profile-info {
    margin-bottom: 20px;
    background-color: snow;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 2px 22px rgba(0, 0, 0, 0.1);
}

.routes-mountains{
    display: flex;
    flex-direction: column;
    color: greenyellow;
    font-size: 22px;
    color: aqua
}

body > div > main > div > div.row > div.col-md-8 > div > div.row > div.col-md-8 > h3 {
    padding: 10px
}


.agency-info {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.agency-info > p {
    font-style: italic;
}

.rating {
    display: inline-block;
    font-size: 24px;
}

    .rating input[type="radio"] {
        display: none;
    }

    .rating label {
        color: #ddd;
        float: right;
    }

    .rating input[type="radio"]:checked ~ label {
        color: #ffcc00;
    }

    .rating label:hover,
    .rating label:hover ~ label,
    .rating input[type="radio"]:checked ~ label {
        color: #ffc107; 
    }

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

    .btn-outline-success:hover {
        background-color: #28a745;
        color: #fff;
    }

.text-primary {
    color: #007bff;
}

.text-decoration-none {
    text-decoration: none;
}
