@model IEnumerable<GetAllRoutesViewModel>

@{
	ViewBag.Title = "Маршрути до хижата";
}

<h2 class="text-cente">@ViewBag.Title</h2>
<hr/>

@{
	if (Model.Any())
	{
		@await Html.PartialAsync("_AllRoutesPartial")
	}
	else
	{
		<p class="text-center text-warning">Няма добавени маршрути до хижата.</p>
		<p class="text-center">Добави маршрут до тази хижа, ако знаеш.</p>
		<a asp-controller="Route" asp-action="Add" class="btn btn-primary btn-group-sm fw-bold">Добави</a>
	}
}



