@model WaterfallAddViewModel

@{
	ViewBag.Title = "Добави водопад";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<form asp-action="AddWaterfall" method="post">
	<div class="form-group">
		<label asp-for="Name" class="control-label"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
    
	<div class="form-group">
		<label asp-for="Description" class="control-label"></label>
		<textarea asp-for="Description" class="form-control"></textarea>
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
    
	<div class="form-group">
		<label asp-for="ImageUrl" class="control-label"></label>
		<input asp-for="ImageUrl" class="form-control" />
		<span asp-validation-for="ImageUrl" class="text-danger"></span>
	</div>
    
	<div class="form-group">
		<label asp-for="MountainId" class="control-label">Планина</label>
		<select asp-for="MountainId" class="form-control">
			@foreach (var mountain in Model.Mountains)
			{
				<option value="@mountain.Id">@mountain.Name</option>
			}
		</select>
		<span asp-validation-for="MountainId" class="text-danger"></span>
	</div>
    
	<button type="submit" class="btn btn-primary">Запази</button>
</form>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}