.card {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}

.card-title {
    text-align: center;
    font-weight: 500;
    font-size: 1.35rem;
    margin-bottom: .75rem;
}

body > div > main > div > div > div > div > p{
    text-align: center;
}


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
        animation-timing-function:ease-in-out;
        
    }
