.card {
    border: 1px solid #dee2e6;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 2rem;
    background-color: snow;
}

.card-title {
    color: #007bff;
    font-size: 1.6rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: .75rem;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
}

.navigation a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #007bff;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
}

.btn {
    margin-right: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #0056b3;
        border-color: #0056b3;
    }

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

    .btn-danger:hover {
        color: #fff;
        background-color: #bd2130;
        border-color: #bd2130;
    }

.rating {
    display: inline-block;
    font-size: 24px;
}

    .rating input[type="radio"] {
        display: none;
    }

    .rating label {
        color: #ddd;
        float: right;
    }

    .rating input[type="radio"]:checked ~ label {
        color: #ffcc00;
    }

    .rating label:hover,
    .rating label:hover ~ label,
    .rating input[type="radio"]:checked ~ label {
        color: #ffc107;
    }

.delete {
    margin-top: 20px;
    text-align: center;
}