@model IEnumerable<GetAllRoutesViewModel>

@{
	ViewBag.Title = "Маршрути";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@await Html.PartialAsync( "_AllRoutesPartial")

@await Html.PartialAsync("_PaginationPartial")