@model IEnumerable<GetAllRoutesViewModel>

@{
	ViewBag.Title = "Маршрути";
}

<h2 class = "text-center">@ViewBag.Title</h2>
<hr/>

<div class="row">
	@foreach (var route in Model)
	{
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
			<div class="card h-100 text-center">
				<img class="card-img-top" src="@route.ImageUrl" alt="Изображение на статията">
				<div class="card-body">
					<h4 class="card-title"><strong>@route.Name</strong></h4>
				</div>
				<a asp-controller="Route" asp-action="Details" asp-route-id="@route.Id" class="btn btn-primary btn-group-sm fw-bold">Прочети</a>
			</div>
		</div>
	}
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}