@model List<RatingDistributionViewModel>

@{
	ViewData["Title"] = "Дистрибуция на оценките маршрута";
}

<h4 class="text-center">@ViewData["Title"]</h4>
<hr/>

@await Html.PartialAsync("_DistributionRatingsPartial", Model)