@{
	ViewData["Title"] = "About";
}

<h2 class="text-center">Платформа за планинарство!</h2>
<hr/>

<link rel="stylesheet" href="~/css/Home/aboutStyle.css" />

<div class="container-for-us">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">За нас</h3>
			<p>Ние сме група от планинари и ентусиасти, които обичат да изследват и откриват прекрасните природни обекти на планините. Нашата цел е да вдъхновим хората да се включат в приключенията на открито и да изживеят красотата на природата.</p>
			<p>Вярваме, че планинарството е не само физическа активност, но и начин за подобряване на духовното и емоционално благополучие. С нашия уебсайт искаме да предоставим на потребителите възможността да се запознаят с различни планини, да намерят важна информация и да споделят своите приключения с други ентусиасти.</p>
			<p>Нека заедно преоткрием красотата на планините и създадем общност, която споделя любовта към планинарството и приключенията на открито.</p>
		</div>
	</div>
</div>

<div class="container-info">
	<div class="row">
		<div class="col-md-6">
			<h3>Изследване на планините и върховете</h3>
			<p>Ние предоставяме подробна информация за различните планини по целия свят, включително височини, географски характеристики и интересни факти за тяхната история.</p>
		</div>
		<div class="col-md-6">
			<h3>Откриване на езера и хижи</h3>
			<p>Разгледайте нашата база данни с езера и хижи, които са отлични за отдих и почивка по време на планинарския ви излет.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Планиране на маршрути</h3>
			<p>Изберете и прегледайте различни маршрути, които отговарят на вашите интереси и ниво на опит. Получете подробна информация за дължината на маршрутите, трудността и забележителностите, които ще срещнете по пътя.</p>
		</div>
		<div class="col-md-6">
			<h3>Намиране на туристически агенции</h3>
			<p>Вижте списък с туристически агенции, които предлагат екскурзии и пътешествия в планините. Сравнете различните оферти и намерете най-подходящата за вашите нужди.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Споделяне на приключения</h3>
			<p>Всеки потребител има възможност да сподели свои статии, снимки и преживявания от планинските приключения. Така обогатяваме общността с ценни знания и опит.</p>
		</div>
	</div>
</div>

