@{
	ViewData["Title"] = "Error400";
}

<link rel="stylesheet" href="~/css/Home/ErrorStyle.css" />

<div class="exception-container">
	<div class="img-container">
		<img src="/Img/Errors/image4.jpg" alt="Alternative image" class="img-thumbnail">
		</div>
	<div class="exception-content">
		<p>Грешка! Направихте грешна заявка към сайта!</p>
		<p> Върни се на <a asp-area="" asp-controller="Home" asp-action="Index">Начална страница</a></p>
		</div>
	</div>