@{
	ViewBag.Title = "Error401";
}

<link rel="stylesheet" href="~/css/Home/ErrorStyle.css" />

<div class="exception-container">
	<div class="img-container">
		<img src="~/img/Errors/401-error-wordpress-featured-image.jpg" />
	</div>
	<div class="exception-content">
		<p style="color:red">Отказан достъп!</p>
		<p> Върни се на <a asp-area="" asp-controller="Home" asp-action="Index">Начална страница</a></p>
	</div>
</div>