@{
	ViewBag.Tittle = "Грешка 404";
}

<link rel="stylesheet" href="~/css/Home/ErrorStyle.css" />

<div class="exception-container">
	<div class="img-container">
		<img src="~/img/Errors/shutterstock_774749455.jpg" alt="404 Error Image" />
	</div>
	<div class="exception-content">
		<p>Грешка! Съдържанието, което търсите не е намерено!</p>
		<p> Върни се на <a asp-area="" asp-controller="Home" asp-action="Index">Начална страница</a></p>
	</div>
</div>
