@{
	ViewData["Title"] = "Error";
}

<h1 class="text-danger">Грешка!</h1>
<h2 class="text-danger">Възникна грешка при обработката на вашата заявка.</h2>
<br />
<br />
<div class="text-left h4">  Върни се на <a asp-controller="Home" asp-action="Index">Home</a> Page</div>