.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #007bff;
    margin-top: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.text-danger {
    color: #dc3545;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

.btn {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        opacity: 0.8;
    }

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

    .btn-danger:hover {
        background-color: #bd2130;
        border-color: #bd2130;
    }

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }
