@model MountainGuideAddMountainViewModel

@{
	ViewBag.Title = "Добавяне на маршрут към планинския водач";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<form asp-action="AddMountainToMountainGuide" method="post">
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="OwnerId" />

	<div class="form-group">
		<label for="mountainId">Избери планина:</label>
		<select class="form-control" id="mountainId" name="mountainId">
			@foreach (var mountain in Model.Mountains)
			{
				<option value="@mountain.Id">@mountain.Name</option>
			}
		</select>
	</div>

	<button type="submit" class="btn btn-primary">Добави</button>
</form>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}