@model IEnumerable<GetAllRoutesViewModel>

@{
	ViewBag.Title = "Всички маршрути на планинския водач";
}

<h3 class="text-center">@ViewBag.Title</h3>
<hr/>


@if (Model.Any())
{
	@await Html.PartialAsync("_AllRoutesPartial")
}
else
{
	<h4 class="text-danger text-lg-center">Няма записани маршрути!</h4>
}
	

