@model IEnumerable<GetAllMountainsViewModel>

@{
	ViewBag.Title = "Всички планини познати на планинския водач";
}

<h3>@ViewBag.Title</h3>
<hr />

@if (Model != null && Model.Any())
{
	<ul class="gap-lg-2">
		@foreach (var mountain in Model)
		{
			<li>
				@mountain.Name
				<a href="@Url.Action("Details", "Mountain", new { id = mountain.Id })" class="btn btn-primary">Детайли</a>
			</li>
		}
	</ul>
}