@model IEnumerable<GetAllRoutesViewModel>

@{
	ViewBag.Title = "Всички маршрути на планинския водач";
}

<h3>@ViewBag.Title</h3>
<hr/>

@if (Model != null && Model.Any())
{
	<ul>
		@foreach (var route in Model)
		{
			<li>
				<a href="@Url.Action("Details", "Route", new { id = route.Id })">@route.Name</a>
			</li>
		}
	</ul>
}
	

