@model MountainFormViewModel

@{
	ViewBag.Title = "Добавяне на планина";
}

<h2>@ViewBag.Title</h2>

@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<form asp-action="Add" method="post" class="mt-4">
	<div class="form-group">
		<label asp-for="Name">Име:</label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Location">Местоположение:</label>
		<input asp-for="Location" class="form-control" />
		<span asp-validation-for="Location" class="text-danger"></span>
	</div>
	
	<div class="form-group">
		<label asp-for="Climate">Климат:</label>
		<input asp-for="Climate" class="form-control" />
		<span asp-validation-for="Climate" class="text-danger"></span>
	</div>
	
	<div class="form-group">
		<label asp-for="Waters">Води:</label>
		<input asp-for="Waters" class="form-control" />
		<span asp-validation-for="Waters" class="text-danger"></span>
	</div>
	
	<div class="form-group">
		<label asp-for="Flora">Флора:</label>
		<input asp-for="Flora" class="form-control" />
		<span asp-validation-for="Flora" class="text-danger"></span>
	</div>
	
	<div class="form-group">
		<label asp-for="Fauna">Фауна:</label>
		<input asp-for="Fauna" class="form-control" />
		<span asp-validation-for="Fauna" class="text-danger"></span>
	</div>
	
	<div class="form-group">
		<label asp-for="ImageUrls">Изображение URL-адрес:</label>
		<input asp-for="ImageUrls" class="form-control" />
		<span asp-validation-for="ImageUrls" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Добави планина</button>
</form>

	
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}