@model IEnumerable<AllMountainsViewModel>

@{
	ViewBag.Title = "Планини";
}

<h2 class="text-center mt-4 mb-3">@ViewBag.Title</h2>

<link rel="stylesheet" href="~/css/Mountain/allStyle.css" />

@if (Model.Any())
{
	@await Html.PartialAsync("_AllMountainsPartial")
}

@await Html.PartialAsync("_PaginationPartial")
