@model IEnumerable<AllHutsViewModel>

@{
	ViewBag.Title = "Хижи";
}


<h2 class="text-center">Хижи в планината</h2>

<hr/>

@if (Model.Any())
{
	@await Html.PartialAsync("_AllHutsPartial", Model)
}
else
{
	<h3 class="text-center">Няма добавени хижи!</h3>	
}

				