@model IEnumerable<AllHutsViewModel>

@{
	ViewBag.Title = "Хижи";
}


@Html.Partial("_AllHutsPartial", Model)

<p>
	@Html.ActionLink("Върни се към всички планини", "All", "Mountain")
</p>

				
				
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}