@model IEnumerable<AllLakesViewModel>

@{
	ViewBag.Title = "Езера";
}

<h2>@ViewBag.Title</h2>


@Html.Partial("_AllLakesPartial", Model)


<p>
	@Html.ActionLink("Върни се към всички планини", "All", "Mountain")
</p>

