@model MountainEditViewModel

@{
	ViewBag.Title = "Редактиране на информацията на планината";
}

<h2>@ViewBag.Title</h2>
<hr/>

<link rel="stylesheet" href="~/css/CommonForAll/editStyle.css" />

<form asp-action="Edit" method="post">
	<input type="hidden" asp-for="Id" />

	<div class="form-group">
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Location"></label>
		<textarea asp-for="Location" class="form-control"></textarea>
		<span asp-validation-for="Location" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Climate"></label>
		<textarea asp-for="Climate" class="form-control"></textarea>
		<span asp-validation-for="Climate" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Waters"></label>
		<textarea asp-for="Waters" class="form-control"></textarea>
		<span asp-validation-for="Waters" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Flora"></label>
		<textarea asp-for="Flora" class="form-control"></textarea>
		<span asp-validation-for="Flora" class="text-danger"></span>
	</div>
	
	<div class="form-group">
		<label asp-for="Fauna"></label>
		<textarea asp-for="Fauna" class="form-control"></textarea>
		<span asp-validation-for="Fauna" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="ImageUrls"></label>
		<textarea asp-for="ImageUrls" class="form-control"></textarea>
		<span asp-validation-for="ImageUrls" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-outline-danger">Запази</button>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

