body {
    background-color: #f8f9fa;
}

h2 {
    font-size: 2.2rem;
    color: #007bff;
    margin-bottom: 20px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.btn-primary {
    background-color: #007bff;
    margin-bottom: 20px;
    margin-top: 5px;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    margin-bottom: 20px;
    margin-top: 5px;
}

    .btn-danger:hover {
        background-color: #bd2130;
        border-color: #bd2130;
    }

img {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
